<header class="header">
    <img src="/velour/assets/images/logo.jpg">

    <nav class="navbar navbar-expand-md container">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active" id="nav-item-override">
              <a class="nav-link" id="nav-link-override" href="/index.html">Home</a>
            </li>
      
            <li class="nav-item" id="nav-item-override">
              <a class="nav-link" id="nav-link-override" href="/pages/chatbot.html">ChatBot</a>
            </li>
      
            <li class="nav-item dropdown" id="nav-item-override">
              <a class="nav-link" id="nav-link-override" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Projects
              </a>
              <div class="dropdown-menu" id="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" id="dropdown-item" href="/pages/syncomp.html">Synesthetic Composition</a>
                <a class="dropdown-item" id="dropdown-item" href="/pages/hprebuildgemvara.html">Landing Pages Rebuild</a>
                <!-- <a class="dropdown-item" id="dropdown-item" href="#">Visual Theremin</a>
                <a class="dropdown-item" id="dropdown-item" href="#">VAE Machine Learning Model</a> -->
              </div>
            </li>
      
            <li class="nav-item" id="nav-item-override">
              <a class="nav-link" id="nav-link-override" href="/pages/experience.html">Experience</a>
            </li>
      
            <li class="nav-item" id="nav-item-override">
              <a class="nav-link"  id="nav-link-override" href="/pages/education.html">Education</a>
            </li>
      
            <li class="nav-item" id="nav-item-override">
              <a class="nav-link" id="nav-link-override" href="/pages/contact.html">Contact</a>
            </li>

            <li class="nav-item" id="nav-item-override">
              <a class="nav-link" id="nav-link-override" href="https://www.linkedin.com/in/maehorak/" target="_blank">LinkedIn</a>
            </li>
          </ul>
        </div>
      </nav>

</header>