h1{
    font-family: 'JetBrains Mono';font-size: 25px;
}

p {
    font-family: 'JetBrains Mono';
}


body {
    background-color: black;
    overflow: auto;
    color: white;
}


.static-background {
    padding: 20px;

}
.img-album-cover {
    padding-top: 20px;
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure images fit within columns */
    opacity: 0.5;
    transition: filter 0.5s ease, opacity 0.5s ease;
}



.img-album-cover:hover {
    filter: grayscale(0%);
    opacity: 1;
}

.content {
    height: 200vh; /* Adjust height as needed to make sure there's enough content to scroll */
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Black with opacity */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 600px; /* Set a maximum width for the modal */
    max-height: 600px;
    position: relative; /* To position the close button inside */
    overflow: auto;
}

.cover-lyrics {
    padding: 30px;
    width: 50%; /* Adjust as needed */
    height: auto;
    margin: 0 auto; /* Center the image horizontally */
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

      /* Custom Styles */
      .navbar-custom {
        background-color: black;
      }
  
      .navbar-nav .nav-link {
        color: white !important;
      }
  
      .navbar-brand img {
        max-height: 50px; /* Adjust logo size */
      }
  
      /* Customizing the hamburger icon to be white */
      .navbar-toggler {
        border-color: white; /* Optional: make the border white */
      }
  
      /* .navbar-toggler-icon {
       
      } */

      #velourgig {
        background-image: url('/assets/images/gigsinging.jpg');
        background-size: cover; /* Ensures the background covers the entire div */
        background-position: center; /* Centers the image in the div */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        margin: 0px
      }

      .button {
        background-color: rgba(255, 255, 255, 0.44); /* White background with 44% opacity */
        color: black; /* Black text color */
        font-family: 'Sue Ellen Francisco', cursive;
        font-size: 20px;
        border: 2px solid black; /* Black border */
        padding: 5px 25px; /* Padding for the button */
        text-align: center; /* Center align text */
        text-decoration: none; /* Remove underline */
        display: inline-block; /* Fit content width */
        border-radius: 5px; /* Optional: rounded corners */
        transition: background-color 0.3s ease; /* Smooth transition on hover */
        cursor: pointer; /* Pointer cursor on hover */
    }
    
    .button:hover {
        background-color: rgba(255, 255, 255, 1); /* Full opacity on hover */
        border-color: #69BCC0;
    }